.zoomImg {
  transition: transform 0.3s ease;
}

.zoomImg:hover {
  transform: scale(1.05);
}

.galleryCard {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.galleryCard:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.cardText {
  color: #444;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  justify-content: center;
}

.cardImage {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cardImage:hover {
  transform: scale(1.05);
}
